{% extends "base/layout.html" %}

{% block content %}  
                     
        <div class="content">
            

            <div class="col-md-8">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Central de Notificações</h4>
                        <p class="category">Selecione notificações que você deseja receber</p>
                    </div>
                    <div class="content">
                        <div class="panel-group driving-license-settings" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Notificações Por Email  
                                        </a>
                                      </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Promoções</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Extrato de Conta</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Uso em tempo real</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Alerta de Poucos Créditos</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Novos Estabelecimentos</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div> 
                        <div class="panel-group driving-license-settings" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                           Notificações no Aplicativo  
                                        </a>
                                      </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Promoções</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Extrato de Conta</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Uso em tempo real</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Alerta de Poucos Créditos</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="" data-toggle="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>Novos Estabelecimentos</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div> 
                        
                                
                        <div class="footer">
                                <div class="btn-toolbar pagination-centered" role="group" aria-label="...">
                                  <button type="button" class="btn btn-primary">Ativar Todas</button>
                                  <button type="button" class="btn btn-danger">Desativar Todas</button>
                                </div>                               
                        </div>
                    </div>
                </div>
            </div>




        </div>
        
{% endblock %}