{% extends "base/layout.html" %}

{% block content %}    
        <div class="content">
            <div class="container-fluid">
                <div class="row">                   
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Histórico de Uso</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Número</th>
                                        <th>Estabelecimento</th>
                                        <th>Horário</th>
                                        <th>Data</th>
                                        <th>TAG</th>
                                        <th>Valor</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Emp. Linus Pauling</td>
                                            <td>8:55 / Pendente</td>
                                            <td>16/11/15</td>
                                            <td>0081745</td>
                                            <td>Pendente</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Pedágio BR324</td>
                                            <td>17:34</td>
                                            <td>14/11/15</td>
                                            <td>0100936</td>
                                            <td>R$7,50</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Shopping Barra</td>
                                            <td>16:51 / 21:27</td>
                                            <td>14/11/15</td>
                                            <td>0081745</td>
                                            <td>R$9,00</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Salvador Shopping</td>
                                            <td>12:32 / 13:49</td>
                                            <td>13/11/15</td>
                                            <td>0081745</td>
                                            <td>R$6,00</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Hospital da Bahia</td>
                                            <td>07:47 / 10:16</td>
                                            <td>11/11/15</td>
                                            <td>0081745</td>
                                            <td>R$15,00</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Pedágio BR324</td>
                                            <td>09:22</td>
                                            <td>09/11/15</td>
                                            <td>0100936</td>
                                            <td>R$7,50</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Salvador Shopping</td>
                                            <td>12:51 / 14:16</td>
                                            <td>09/11/15</td>
                                            <td>0081745</td>
                                            <td>R$6,00</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>America Towers</td>
                                            <td>09:03 / 10:22</td>
                                            <td>07/11/15</td>
                                            <td>0081745</td>
                                            <td>R$10,00</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Shopping da Bahia</td>
                                            <td>19:20 / 19:43</td>
                                            <td>06/11/15</td>
                                            <td>0081745</td>
                                            <td>Isento</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Salvador Trade Center</td>
                                            <td>15:29 / 18:05</td>
                                            <td>06/11/15</td>
                                            <td>0100936</td>
                                            <td>R$14,00</td>
                                        </tr>
                                    </tbody>
                                </table>
                                   
                            </div>
                        </div>
                    </div>  
                    
                    
                                 
                </div>                    
            </div>
        </div>
        {% endblock %}