{% extends "base/layout.html" %}

{% block content %}
                                          
        <div class="content">
                <div class="container-fluid">    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Estabelecimentos</h4>
                                    <p class="category">Gráfico de Uso</p>
                                </div>
                                <div class="content">                                
                                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                                    
                                    <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-danger"></i> Estacionamentos
                                            <i class="fa fa-circle text-info"></i> Postos de Gasolina
                                            <i class="fa fa-circle text-primary"></i> Pedágios
                                            <i class="fa fa-circle text-success"></i> Drive Through
                                            <i class="fa fa-circle text-warning"></i> Outros (Lava-Jato, Retífica...)
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-clock-o"></i> Atualizado há 2 minutos
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Financeiro</h4>
                                    <p class="category">Comparação de Custos</p>
                                </div>
                                <div class="content">                               
                                    <div id="chartActivity" class="ct-chart"></div>
                        
                                    <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-info"></i> 2014
                                            <i class="fa fa-circle text-danger"></i> 2015
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-clock-o"></i> Atualizado ontem
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>               
                    </div>        
                </div>    
            </div>
        </div>
{% endblock %}